.navbar-custom {
  height: 100px; /* Altezza fissa della navbar */
  display: flex;
  align-items: center;
  color: white;
}


.logo-navbar {
  height: 100px; /* Altezza dell'immagine */
  width: 230px; /* Larghezza dell'immagine */
}
