  <div class="row align-items-center"> <!-- Aggiungi 'align-items-center' per allineare verticalmente -->
    <div class="col text-start"> <!-- Cambia in 'text-start' per allineare il testo a sinistra -->
      <span class="display-4">{{typeOfPage}}</span>
    </div>
    <div class="col text-end"> <!-- Usa 'text-end' per allineare il bottone a destra -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <img src="../../../assets/add.svg" alt="resources" width="25" height="25" class="align-text-center icon">
        Crea
      </button>
    </div>
  </div>

